@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* ***Navbar Sexction*** */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.nav-title img {
    width: 30%;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.pink {
    color: #FF42A5;
}

.nav-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item ul li {
    list-style: none;
    padding: 0px 20px;
    cursor: pointer;
}

.nav-item ul li:last-child {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
}


/* ***Banner Section*** */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
    gap: 200px;
}

.banner-text {
    max-width: 400px;
}

.banner-text h2 {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-text {
    color: #534C64;
    font-size: .8rem;
    font-weight: 300;
    padding: 5px 0px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

}

.btn-1 {
    display: inline-flex;
    padding: 12px 30px;
    align-items: flex-start;
    border-radius: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    color: #FFF;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    cursor: pointer;
}

.btn-2 {
    display: inline-flex;
    padding: 12px 30px;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: flex-start;
    border-radius: 48px;
    border: none;
    color: #FFF;
    background: #4EC5F7;
    cursor: pointer;
}

.banner-img {
    max-width: 700px;
}

.banner-img img {
    height: 100%;
    width: 100%;
}


/* ***Online Section*** */

.online-content-title {
    text-align: center;
}

.pink-gray {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 25px;
    justify-content: center;
    padding: 30px 0px;
}

.box img {
    width: 100%;
}

.box .small-text {
    padding-top: 10px;
}

/* ***Footer Section***  */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: #0B0223;
    padding: 10px 200px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFF;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.text {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 10px;
    align-items: flex-start;
    gap: 20px;
}
.text p{
    color: #FFF;
}
.icon {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 10px 100px;
    align-items: flex-start;
}
.policy{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: flex-start;
    padding: 10px 20px;
}
.policy p{
    color: rgba(255, 255, 255, 0.60);
}
.last-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
